* {
    box-sizing: border-box;
}

body{
    border: 20px solid #1b532c;
    margin: 10px;
    width: 300px;
    display: flex;
    align-self: center;
    height: max-content;
}

.container{
    margin-top: 20px;
    padding: 20px 10px;
    background-color: #2bc75a;
    border-radius: 20px;
    width: fit-content;
    flex: 1;
}

.btn{
    border-radius: 20px;
}