@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

:root{
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

/* Reset The Margin and Padding so that you can align as per your requirements */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 2px solid #002240; */
    font-size: 10px;
    font-family: sans-serif, "lato";
}

/* .box{
    display: flex;
    align-items: center;
    justify-content: center;
} */

body{
    /* display: block; */
    border: 2px solid #002240;
    width: fit-content;
    height: fit-content;
}

.container{
    margin: 10px 50px;
    display: flex;
    /* align-items: center;  */
    justify-content: space-around;
    /* flex-direction: row; */
    background-color: var(--primary-color);
}
/* 
input {
    margin: 5px 5px;
} */

.container input[type="button"]{
    flex: 1fr 1fr auto;
    margin: 10px 80px;
    height: 20px;
    border-radius: 5px;
    border: 3px inset var(--secondary-color);
    padding: 0px 10px;
}

.container input[type="text"]{
    flex: 1fr 1fr auto;
    margin: 10px 20px;
}

.container input:focus{
    outline: none;
}

label {
    width: auto;
    height: 30px;
    font-size: 15px;
    padding: 6px;
    color: #fff;
}
p{
    font-size: 20px;
    margin: 5px 140px;
    border: 2px solid var(--dark-color);
    background-color: var(--primary-color);
    color: var(--light-color);
    padding-left: 10px;
}

#result{
    font-size: 20px;
}

.btn_1:hover{
    background-color: #1c3fa8;
    opacity: 1;
    color: #fff;
    border: 3px inset var(--light-color);
}

.btn_1:active{
    transform: translateY(1px);
}