@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

:root{
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

script{
    display: none;
}

title{
    font-size: 25px;
    margin-top: 20px;
    color: #002240;

}

/* Reset The Margin and Padding so that you can align as per your requirements */
 *{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 10px;
    font-family: sans-serif, "lato";
    background-color: #EBD671;
    position: relative;
}

/* .box{
    display: flex;
    align-items: center;
    justify-content: center;
} */

body{
    /* display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; */  
    /* border: 10px solid #d9534f; */
    max-width: 570px;
    border-radius: 15px; 
    min-height: 80vh;
} 

.section_1{
    border: 10px solid #002240;
    max-width: 570px;
    border-radius: 15px; 
}

div{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    width: 100%;
}

.container .form{
     background: #fff;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.container .input{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.container > div{
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;  
    padding: 5px;
    background-color: var(--primary-color);
}
  
/* 
input {
    margin: 5px 5px;
} */

.btn_1:hover{
    background-color: #002240;
    opacity: 1;
    color: #fff;
    border: 3px inset var(--light-color);
}

.btn_1:active{
    transform: translateY(1px);
}

.container input[type="button"]{
    height: 25px;
    border-radius: 5px;
    border: 3px inset var(--secondary-color);
    padding: 0px 25px;
    margin: 0px 25px;
}

.container input[type="text"]{
    margin: 10px 0px;
    padding: 3px 5px;
    border-radius: 5px;
    border-color: var(--secondary-color);
    background-color: #047aed;
    color: #fff;
}

.container input:focus{
    outline: none;
}

label {
    font-size: 15px;
    padding: 10px;
    background-color: #047aed;
    color: #fff;
}
.pDiv{
    font-size: 20px;
    width: 100%;
    color: var(--light-color);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
} 

p, #result, span{
    flex-direction: row;
    font-size: 15px;
    background-color: #047aed;
}

i{
    margin: 0px 3px;
    background-color: #047aed;
}

form > button{
    margin: 5px;
    padding: 3px;
    border: 3px solid var(--secondary-color);
    border-radius: 5px;
}

form > button:hover{
    background-color: #002240;
    opacity: 1;
    color: #fff;
}

form > button:active{
    transform: translateY(1px);
}

/* Database Form */

.database > p{
    margin: 10px 10px;
    background-color: transparent;
}

.database > span{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 2px solid #fff;
    background-color: transparent;
    font-size: 10px;
    visibility: hidden;
}

.database_class{
    flex-direction: row;
    background-color: #1c3fa8;
    border: 10px solid #1c3fa8;
    border-radius:15px;
    color: var(--light-color);
}

#database_1{
    padding: 10px;
    height: 100%;
    width: fit-content;
    justify-content: center;
    align-content: center;
}

.logsBtn_1{
    padding: 15px;
    margin-left: 10px;
    height: 25px;
    border-radius: 5px;
    border: 3px inset var(--secondary-color);
    position:relative;
}

.logsBtn_1:hover{
    background-color: #002240;
    opacity: 1;
    color: #fff;
}

.logsBtn_1:active{
    transform: translateY(2px);
}


